# HTID:23422420: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:23422420:

# Enable rewrite engine
RewriteEngine On

# Remove or comment out the problematic redirect for index.php
# RewriteRule ^index.php$ https://rio-lawis.com/ [R=301,L]

# Now index.php will be found and executed normally.


